<p>users works!</p>
<div *ngFor="let user of users">
    {{user.first}} {{user.last}} {{user.age }}  ({{user.id}})
</div>


<div>Async</div>
<div class="table">
    <div *ngFor="let user of users$ | async; let odd = odd"
        class="item"
        [ngClass]="{'odd': odd}">
        {{user.first}} {{user.last}} {{user.age }}  ({{user.id}})
    </div>
</div>
<button [disabled]="!(fromVaild$|async)">Add</button>
<button [disabled]="!(fromVaild$|async)">Edit</button>
<button (click)="clear()">Clear</button>
<div class="form"
    [formGroup]="userForm">
    <div>
        <label> First Name:
            <input type="text"
            formControlName="firstName">
        </label>        
    </div>
    <div>
        <label> Last Name:
            <input type="text"
            formControlName="lastName">
        </label>
    </div>
    <div>
        <label> Age:
            <input type="number"
            formControlName="age">
        </label>
    </div>

</div>
